.App{
    text-align: center;
    padding: 0px;
}

.StickyNotes{
    display:block;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    width: 80%;
    left:20%;
    padding: 20px;
}
